<h2>Title: <%= book_results.book_title %></h2>
<h2>Author: <%= book_results.book_author %></h2>


<% review_results.reviews.each do |review| %>
  <section class = "reviews">
    <%= review %><p></p>
  </section>
<% end %>
